
{% extends 'base.html' %}


{% block css %}
body{
  background-color:#fd7e14;    
}
{% endblock css %}



{% block content %}
    <header class="masthead d-flex align-items-center">
        <div class="container px-4 px-lg-5 text-center">
        
            {% if request.user.is_authenticated %}
                <h1 class="mb-5">Welcome {{request.user.username}}</h1>
                <h1 class="mb-5">TO</h1>
            {% endif %}

            <h1 class="mb-1">Authentication System</h1>
            <h3 class="mb-5"><em>All types of Authentication system built by own </em></h3>
            

            {% if request.user.is_authenticated %}
                <a class="btn btn-danger btn-xl mt-2" href="{% url 'logout' %}">logout</a>
                <a class="btn btn-success btn-xl mt-2" href="{% url 'changePassword' %}">Change Password</a>
            {% else %}
                <a class="btn btn-primary btn-xl" href="{% url 'login' %}">Get started</a>
            {% endif %}

            
        </div>
    </header>

{% endblock content %}