{% extends 'base.html' %}

{% block css %}
    main .card {
    background-color: #3475;
    }

    body {
    background: #fe8c00; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #f83600,
        #fe8c00
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #f83600,
        #fe8c00
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;
    }

    h3 {
    font-family: Times New Roman;
    font-weight: bold;
    }
    hr {
    border-bottom: solid white 1px;
    }

    .btn {
    background: #0f2027; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #2c5364,
        #203a43,
        #0f2027
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #2c5364,
        #203a43,
        #0f2027
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    input {
    background-color: #3475 !important;
    color: white !important;
    }

    ::placeholder {
    color: white !important;
    }


{% endblock css %}

{% block content %}

<main class="container my-5">
  <div class="row">
    <section class="col-md-6 my-5 offset-md-3">

      <div class="card shadow p-5">
          <h3 class="text-center text-uppercase mb-4">{{name}}</h3>
          <hr>
            <form class="form-group"  method="post" novalidate>
                {% csrf_token %}
                {% for fm in form %}
                  {{fm.label_tag}} {{fm}} <small class="text-center text-uppercase" >{{fm.errors|striptags}}</small><br><br>
                {% endfor %}
              <input class="btn btn-secondary rounded-pill mt-3" type="submit" value="{{name|slice:6}}">
            </form> 
          {% if value %}
          <p class="mt-3 text-white">{{value|slice:24}} <a href="{% url 'signup' %}" class="text-white">{{value|slice:"24:"}}</a> 
          {% endif %}
          {% if pss %}
           <a href="{% url 'resetPassword' %}" class="text-white m-lg-5 " > Forget password</a></p>
          {% endif %}
      </div>
    </section>
  </div>
</main>

{% endblock content %}